@model IEnumerable<BibList.Models.Biblist>

@{
    ViewData["Title"] = "Lista Książek";
}

<h1>Booklist</h1>

<p>
    <a asp-action="BooklistCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                    @Html.ActionLink("Edit", "BooklistEdit", new {  id=item.Id }) |
                    @Html.ActionLink("Details", "BooklistDetails", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "BooklistDelete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<style>
    thead{
        border-bottom: solid 2px;
    }

    th {
        border-right: solid 2px;
        border-left: solid 2px;
    }
    td{
        border-right:solid 2px;
        border-left:solid 2px;
        border-bottom:solid 1px;
    }
</style>
