@model IEnumerable<BibList.Models.Userlist>

@{
    ViewData["Title"] = "Userlist";
}

<h1>Userlist</h1>

<p>
    <a asp-action="UserlistCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.PESEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowedId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.PESEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowedId)
            </td>
            <td>
                    @Html.ActionLink("Edit", "UserlistEdit", new {  id=item.Id }) |

                    @Html.ActionLink("Delete", "UserlisDelete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<style>
    thead {
        border-bottom: solid 2px;
    }

    th {
        border-right: solid 2px;
        border-left: solid 2px;
    }

    td {
        border-right: solid 2px;
        border-left: solid 2px;
        border-bottom: solid 1px;
    }
</style>
